*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: black;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

/* #region header */

header>.icon{
    background-color: #4c4c4c;
    border-radius: 0.5rem;
    padding: 5px;
    color: white;
    margin-right: 5px;
    font-size: 0.9rem;
}

/* #endregion header */